.TeamsPage-hero-section {
  font-family: 'Goldman', sans-serif;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15vh;
  position: relative;
  background-image: url("/assets/background.webp");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;
  clip-path: inset(0 0 15% 0); /* Clips the bottom part */
  gap: 25px;
}

/* Subheading (Meet the MASTERMINDS) */
.TeamsPage-hero-subtitle {
  font-size: 44px;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: transparent;
  word-spacing: 10px;
}

.TeamsPage-hero-subtitle span {
  color: rgba(255,255,255,0.85);
  background-color: transparent;
}

/* Main Heading (TEAM REVELATION) */
.TeamsPage-hero-title {
  padding-bottom: 20px;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: flex;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.TeamsPage-bracket {
  background-color: transparent;
}

.TeamsPage-bracket img {
  background-color: transparent;
}

/* Description Box */
.TeamsPage-hero-description {
  margin-top: 20px;
  width: 700px;
  height: 45vh;
  padding: 20px;
  background: #111;
  color: #aaa;
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(255,255,255, 1);
}

.TeamsPage-hero-description p {
  font-size: 22px;
  line-height: 1.5;
  background-color: transparent;
}

/* Responsive Design */
@media (max-width: 860px) {
  .TeamsPage-hero-subtitle {
      font-size: 32px;
      word-spacing: 5px; 
  }

  .TeamsPage-hero-title {
      font-size: 58px; 
  }

  .TeamsPage-hero-description {
      width: 80%; 
      height: 40vh; 
      font-size: 14px; 
      padding: 15px; 
  }

  .TeamsPage-hero-description p {
      font-size: 20px; 
  }
}

@media (max-width: 700px) {
  .TeamsPage-hero-subtitle {
      font-size: 30px;
      word-spacing: 5px; 
  }

  .TeamsPage-hero-title {
      font-size: 50px; 
  }

  .TeamsPage-hero-description {
      width: 80%; 
      height: 40vh;
      padding: 12px; 
  }

  .TeamsPage-hero-description p {
      font-size: 18px; 
  }
}

@media (max-width: 600px) {
  .TeamsPage-hero-section {
      gap: 24px;
      padding-top: 0px;
      clip-path: inset(0 0 25% 0);
  }

  .TeamsPage-hero-subtitle {
      font-size: 20px;
  }

  .TeamsPage-hero-title {
      font-size: 32px; 
  }

  .TeamsPage-bracket img {
      background-color: transparent;
      height: 50px;
  }

  .TeamsPage-hero-description {
      width: 75%; 
      height: 35vh; 
      font-size: 14px; 
      padding: 15px; 
  }

  .TeamsPage-hero-description p {
      font-size: 14px; 
  }
  .TeamsPage-hero-description {
    box-shadow: 0px 0px 30px rgba(255,255,255, 1);
  }
  .TeamsPage-hero-section {
    height: 90vh;
   
  }
}
@media(max-width:450px){
  .TeamsPage-hero-description p {
    font-size: 13px; 
}
}
@media (max-width: 395px) {
  .TeamsPage-hero-section {
      gap: 15px;
  }

  .TeamsPage-hero-subtitle {
      font-size: 17px;
  }

  .TeamsPage-hero-title {
      font-size: 28px; 
  }

  .TeamsPage-bracket img {
      height: 45px;
  }

  .TeamsPage-hero-description p {
      font-size: 12px; 
  }
  .TeamsPage-hero-description {
    box-shadow: 0px 0px 30px rgba(255,255,255, 1);
  }
  .TeamsPage-hero-section {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  .TeamsPage-hero-section {
      gap: 12px;
  }

  .TeamsPage-hero-subtitle {
      font-size: 14px;
  }

  .TeamsPage-hero-title {
      font-size: 24px; 
  }

  .TeamsPage-bracket img {
      height: 40px;
  }

  .TeamsPage-hero-description p {
      font-size: 11px; 
  }
  .TeamsPage-hero-description {
    box-shadow: 0px 0px 30px rgba(255,255,255, 1);
  }
  .TeamsPage-hero-section {
    height: 90vh;
  }
}