.TeamsPage-core-members {
  text-align: center;
  margin-bottom: 40px;
}

.TeamsPage-core-title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 50px;
  border: 1px solid red;
  box-shadow: 0 0 10px 4px red;
  border-radius: 20px;
  width: 40%;
  margin-left: 30vw;
  margin-top: 30px;
}

.TeamsPage-core-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 10px;
}

.TeamsPage-core-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  border-radius: 20px;
  padding: 20px;
  /* transition: box-shadow 0.1s ease-in-out;  */
  box-shadow: 0 0 10px 4px red;
}

.TeamsPage-core-position {
  background-color: transparent;
  border: 2px solid red;
  color: white;
  padding: 8px 14px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: box-shadow 0.1s ease-in-out; /* Smooth transition */
  box-shadow: 0 0 10px 4px white; 
  width: 200px;
}


.TeamsPage-team-section {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 0.8px solid white; */
  padding: 20px;
  position: relative;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0 0 10px 4px red;
}
.TeamsPage-core-card:hover {
  box-shadow: 0 0 10px 6px red;
}
.TeamsPage-team-section:hover {
  box-shadow: 0 0 10px 6px red;
}

.TeamsPage-team-section.TeamsPage-right {
  margin-left: 25%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 0px;
  border-right: none;
}

.TeamsPage-team-section.TeamsPage-left {
  margin-right: 25%;
  padding-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

.TeamsPage-team-title {
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(to bottom, #ff0000, #1d0e0e); /* Top-down gradient */
  color: white;
  border: 2.5px solid red;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px;
  box-shadow: 0 0 10px 4px white; 
}

.TeamsPage-core-position:hover {
  box-shadow: 0 0 10px 6px white; 
}
.TeamsPage-team-title:hover {
  box-shadow: 0 0 10px 6px white; 
}
.TeamsPage-right .TeamsPage-team-title {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  justify-content: start;
  padding-right: 50px;
}

.TeamsPage-left .TeamsPage-team-title {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  justify-content: center;
  padding-left: 50px;
}

/* Alignment of different hexagons */
.TeamsPage-team-2 .TeamsPage-hexagon-row {
  display: flex;
  flex-wrap: wrap;
}

.TeamsPage-team-3 .TeamsPage-hexagon-row {
  display: flex;
  justify-content: center;
}

.TeamsPage-team-3 .TeamsPage-second-row {
  margin-top: -40px; 
}

.TeamsPage-team-4 .TeamsPage-hexagon-row {
  display: flex;
  width: 470px;
}

.TeamsPage-team-4 .TeamsPage-second-row {
  margin-left: 111px;
  margin-top: -40px; 
}

.TeamsPage-team-5 .TeamsPage-hexagon-row {
  display: flex;
  justify-content: center;
}

.TeamsPage-team-5 .TeamsPage-second-row {
  margin-top: -40px; 
}

.TeamsPage-team-2 {
  width: 50%;
}

.TeamsPage-team-3 {
  width: 50%;
}

.TeamsPage-team-4 {
  width: 55%;
}

@media (max-width: 1280px) {
  .TeamsPage-team-section {
    padding: 18px;
  }

  .TeamsPage-core-members {
    margin-bottom:35px;
  }
  
  .TeamsPage-core-title {
    font-size: 40px;
  }

  .TeamsPage-team-title {
    font-size: 22px;
    padding: 16px 18px;
  }
  .TeamsPage-right .TeamsPage-team-title {
    padding-right: 45px;
  }
  
  .TeamsPage-left .TeamsPage-team-title {
    padding-left: 45px;
  }
  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -35px; 
  }
  
  .TeamsPage-team-4 .TeamsPage-hexagon-row {
    width: 400px;
  }
  
  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 94px;
    margin-top: -35px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -35px; 
  }
  
  .TeamsPage-team-2 {
    width: 50%;
  }
  
  .TeamsPage-team-3 {
    width: 50%;
  }
  
  .TeamsPage-team-4 {
    width: 55%;
  }
  
}
@media (max-width: 1045px) {
  .TeamsPage-team-section {
    padding: 16px;
  }
  .TeamsPage-core-members {
    margin-bottom: 35px;
  }
  
  .TeamsPage-core-title {
    font-size: 35px;
    width: 35%;
  }
  .TeamsPage-core-position {
    padding: 8px 14px;
    margin-top: 24px;
    font-size: 14px;
    width: 150px;
  }

  .TeamsPage-team-title {
    font-size: 16px;
    padding: 14px 16px;
  }

  .TeamsPage-right .TeamsPage-team-title {
    padding-right: 30px;
  }
  
  .TeamsPage-left .TeamsPage-team-title {
    padding-left: 30px;
  }

  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -30px; 
  }
  
  .TeamsPage-team-4 .TeamsPage-hexagon-row {
    width: 350px;
  }
  
  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 80px;
    margin-top: -30px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -30px; 
  }
  
  .TeamsPage-team-2 {
    width: 50%;
  }
  
  .TeamsPage-team-3 {
    width: 50%;
  }
  
  .TeamsPage-team-4 {
    width: 45%;
  }
  
}
@media (max-width:1120px){
  .TeamsPage-team-section {
    padding: 14px;
  }
  .TeamsPage-team-4 {
    width: 65%;
  }
  .TeamsPage-team-title {
    font-size: 16px;
    padding: 16px 16px;
  }
}
@media (max-width:920px){
  .TeamsPage-team-section {
    padding: 12px;
  }
  .TeamsPage-team-4 {
    width: 55%;
  }
  .TeamsPage-team-title {
    font-size: 16px;
    padding: 12px 14px;
  }
  .TeamsPage-core-title{
    font-size: 30px;
  }
  .TeamsPage-right .TeamsPage-team-title {
    padding-right: 25px;
  }
  
  .TeamsPage-left .TeamsPage-team-title {
    padding-left: 25px;
  }

  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -25px; 
  }
  
  .TeamsPage-team-4 .TeamsPage-hexagon-row {
    width: 350px;
  }
  
  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 69px;
    margin-top: -25px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -25px; 
  }
  
}

@media (max-width:820px){
  .TeamsPage-core-members {
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  .TeamsPage-core-title {
    font-size: 24px;
    padding: 10px;
  }
  .TeamsPage-core-position {
    padding: 8px 14px;
    margin-top: 24px;
    font-size: 14px;
    width: 150px;
  }
  .TeamsPage-core-card {
    box-shadow: 0 0 10px 2.5px red;
  }
  .TeamsPage-team-section:hover {
    box-shadow: 0 0 10px 3px red;
  }
  .TeamsPage-core-card:hover {
    box-shadow: 0 0 10px 4px red;
  }
  .TeamsPage-team-section:hover {
    box-shadow: 0 0 10px 4.5px red;
  }
  .TeamsPage-core-position {
    box-shadow: 0 0 10px 3px white; 
  }
  .TeamsPage-core-position:hover {
    box-shadow: 0 0 10px 5px white; 
  }
  .TeamsPage-team-title:hover {
    box-shadow: 0 0 10px 5px white; 
  }
  .TeamsPage-team-section {
    padding: 20px 5px;
    margin-top: 30px;
  }
  .TeamsPage-team-4 {
    width: 60%;
  }
  .TeamsPage-team-title {
    font-size: 12px;
    padding: 10px 12px;
  }

  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -25px; 
  }
  
  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 61px;
    margin-top: -25px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -25px; 
  }
  .TeamsPage-team-2 {
    width: 60%;
  }
  
}
@media (max-width: 715px) {
  .TeamsPage-core-members {
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  .TeamsPage-core-title {
    font-size: 20px;
    padding: 10px;
  }

  .TeamsPage-core-card {
    box-shadow: 0 0 10px 2.5px red;
  }
  
  .TeamsPage-team-section {
    width: 95%;
    flex-direction: column;
    gap: 30px;
    padding: 20px 5px;
    margin-top: 30px;
    box-shadow: 0 0 10px 3px red;
  }

  .TeamsPage-team-section.TeamsPage-right {
    margin-left: 5%;
  }

  .TeamsPage-team-title {
    font-size: 10px;
    font-weight: normal;
    box-shadow: 0 0 10px 3px white;
    width: 150px;
  }

  .TeamsPage-right .TeamsPage-team-title {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1.5px solid red;
    justify-content: center;
    padding: 10px;
  }

  .TeamsPage-left .TeamsPage-team-title {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1.5px solid red;
    justify-content: center;
    padding: 10px;
  }

  .TeamsPage-team-2 .TeamsPage-hexagon-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }

  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -25px; 
  }

  .TeamsPage-team-4 .TeamsPage-hexagon-row {
    display: flex;
    width: 350px;
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 70px;
    margin-top: -25px; 
  }

  .TeamsPage-team-5 .TeamsPage-hexagon-row {
    display: flex;
    justify-content: center;
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -25px; 
  }

  .TeamsPage-team-2 {
    width: 70%;
  }

  .TeamsPage-team-3 {
    width: 70%;
  }

  .TeamsPage-team-4 {
    width: 50%;
  }
}
@media (max-width:520px){
  .TeamsPage-team-4 {
    width: 75%;
  }
  .TeamsPage-core-position {
    padding: 8px 14px;
    margin-top: 18px;
    font-size: 14px;
    width: 130px;
  }
}
@media (max-width:440px){
  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -20px; 
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 60px;
    margin-top: -20px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -20px; 
  }

  .TeamsPage-team-2 {
    width: 100%;
  }

  .TeamsPage-team-3 {
    width: 100%;
  }

  .TeamsPage-team-4 {
    width: 75%;
  }
}

@media (max-width:380px){
  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -17px; 
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 55px;
    margin-top: -17px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -17px; 
  }
}

@media (max-width:370px){
  .TeamsPage-core-title {
    font-size: 16px;
    padding: 8px;
  }
  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -20px; 
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 52px;
    margin-top: -20px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -20px; 
  }
}
@media (max-width:350px){
  .TeamsPage-core-title {
    font-size: 16px;
    padding: 8px;
  }
  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -15px; 
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 47px;
    margin-top: -15px; 
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -15px; 
  }
}