.TeamsPage-teams-container {
  font-family: 'Goldman', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 100%;
  margin-top: -100px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
  }  